.suggester-input-wrap {
  position: relative;
  width: 100%;
  margin: var(--suggester-margin);
}

.suggester-input {
  font-family: var(--suggester-font-family);
  width: calc(
    100% - var(--suggester-input-border-width) * 2 -
      var(--suggester-input-padding-x) * 2
  );
  padding: var(--suggester-input-padding-y) var(--suggester-input-padding-x);
  font-size: var(--suggester-input-font-size);
  color: var(--suggester-color);
  border: var(--suggester-input-border);
  border-radius: var(--suggester-input-border-radius);
}

.suggester-input:focus {
  outline-color: #226ed3;
}

.suggester-input::placeholder {
  color: #8798ad;
}

.suggester-input-wrap svg {
  position: absolute;
  right: 24px;
  top: calc(50% - 18px);
  fill: #8798ad;
  opacity: 1;
  transition: opacity 0.15s ease-in-out;
}

.suggester-input-wrap._loading svg {
  animation: animate_svg 1s linear infinite;
}

.suggester-input-wrap:focus-within:not(._loading) svg {
  opacity: 0;
}

@keyframes animate_svg {
  0% {
    right: 24px;
    top: calc(50% - 18px);
  }
  25% {
    top: calc(50% - 20px);
  }
  50% {
    right: 28px;
    top: calc(50% - 18px);
  }
  75% {
    top: calc(50% - 16px);
  }
  100% {
    right: 24px;
    top: calc(50% - 18px);
  }
}

.suggester-loading {
  position: absolute;
  font-size: 16px;
  left: calc(100% - 75px);
  bottom: 2px;
}
